.carts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem 3.5em;
}
.carts-section {
  width: 70%;
}
.cart-name {
  text-align: center;
  margin-bottom: 1.75em;
}
.quantity-price-sec {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}
.amount-section {
  width: 27%;
  height: 20rem;
  margin-top: 2.5em;
  background-color: #efefef;
  box-shadow: 10px 10px 14px -7px #535353;
  border-radius: 5px;
}
@media screen and (max-width: 868px) {
  .carts-container {
    display: flex;
    flex-direction: column;
  }
  .carts-section {
    width: 100%;
  }
  .amount-section {
    width: 70%;
    margin-right: 0px;
    margin-left: auto;
  }
}
@media screen and (max-width: 500px) {
  .amount-section {
    width: 100%;
  }
}
