.ditile-continer {
  width: 100%;
  padding: 6.65em 16em;
  color: black;
}
.ditaile-img-continer {
  width: 60%;
  overflow: hidden;
}
.ditaile-img-continer img {
  width: 100%;
}
.ditaile-img-wraper {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.detaile__img {
  width: 6.5rem;
}
.ditile-dic-continer {
  padding: 0.65em 7em 0.65em 0;
}
.prics-and-riting {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
