.div {
  width: 100%;
}
.amount-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.7em;
}

.checkout-btn {
  box-shadow: inset -1px 1px 17px 1px #42474b;
  background: linear-gradient(to bottom, #000000 5%, #272d32 100%);
  background-color: #000000;
  border-radius: 8px;
  /* border: 2px solid #3866a3; */
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.75em 2.3em;
  text-decoration: none;
  /*  text-shadow: -1px 1px 0px #d0d0d0; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.checkout-btn:hover {
  background: linear-gradient(to bottom, #272d32 5%, #000000 100%);
  background-color: #000000;
}
.checkout-btn:active {
  position: relative;
  top: 1px;
}
