.filter-form-continer {
  max-width: 70%;
  display: flex;
  margin: 1em 0 0 0;
  padding: 1.5em 3.5em;
  align-items: center;
  justify-content: space-around;
}
.form {
  padding: 0.5em 1em;
}
.form label {
  margin-right: 0.7em;
  text-transform: capitalize;
  font-weight: bolder;
}
.form select {
  padding: 0.5em 2em;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 1170px) {
  .filter-form-continer {
    max-width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .filter-form-continer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
