.whatWeDo {
  background-color: #e8e8e8;
  padding: 20rem 15rem 0rem 15rem;
  margin-top: -5rem;
  z-index: 1;
  position: relative;
  color: #383838;
}
.whatWeDo__box {
  width: 65%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  border-bottom: 0.5px solid #383838;
  padding-bottom: 10rem;
}
.heading__title {
  text-transform: capitalize;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  font-weight: 100;
}
.whatWeDo__content {
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
